<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Datos de la Ruta realizada por <strong>{{ruta.nombre_usuario}}</strong>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" class="p-10">
          <i class="fa fa-clock-o p-10"></i><strong>{{ruta.fecha | date: 'mediumDate'}}</strong>
        </div>

        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" class="p-10">
          <i class="fa fa-hourglass-start p-10"></i><strong>{{ ruta.inicio | date: 'shortTime'}} horas</strong>
        </div>

        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" class="p-10">
          <i class="fa fa-hourglass-end p-10"></i><strong>{{ ruta.fin | date: 'shortTime'}} horas</strong>
        </div>

        <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" class="p-10">
          <i class="fa fa-hourglass-o p-10"></i>Duración <strong>{{ ruta.duracion | horasFromMinutes }}</strong>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Visitas realizadas ({{visitas.length}})</mat-card-title>
      <mat-card-subtitle class="white">Kilos recogidos: <strong>{{ getSumKilos() }} Kilos </strong> Total (€) entregados: <strong>{{ getSumEntregado() }}€</strong></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul class="timeline" *ngFor="let visita of visitas">
            <li [ngClass]="{ 'timeline-inverted': visita.orden % 2 === 0 }">
                <div class="timeline-badge success">
                    <img class="img-responsive" alt="user" [src]="ruta.img | imagen: 'avatar'" >
                </div>
                <div class="timeline-panel">

                    <div class="timeline-heading">
                      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                        <div fxFlex.gt-sm="10" fxFlex.gt-xs="5" class="p-5">
                          <!-- <h6 class="timeline-title orden">nº {{visita.orden + 1 }}</h6> -->
                          <img [src]="visita.logo | imagen:'logos'" width="75" alt="user">
                        </div>
                        <div fxFlex.gt-sm="75" fxFlex.gt-xs="50" class="p-20">
                          <h4 class="timeline-title"><strong>{{visita.nombreComercial}}</strong></h4>
                        </div>
                        <div fxFlex.gt-sm="15" fxFlex.gt-xs="15" class="p-5" *ngIf="visita.isVisited">
                          <small class="text-muted">
                              <i class="fa fa-clock-o"></i> <strong>{{visita.fecha | date: 'shortTime'}}</strong>
                          </small>
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">

                        <div fxFlex.gt-sm="33" fxFlex.gt-xs="30" class="p-5">
                          <h5 class="timeline-title">{{visita.tipo}}</h5>
                        </div>
                        <div fxFlex.gt-sm="33" fxFlex.gt-xs="30" class="p-5">
                        </div>
                        <div fxFlex.gt-sm="33" fxFlex.gt-xs="30" class="p-5" *ngIf="visita.tipo === 'RECOGIDA' && visita.nAlbaran" >
                          <h5 class="timeline-title">nº albarán <strong>{{visita.nAlbaran}}</strong></h5>
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" *ngIf="visita.tipo === 'RECOGIDA'">
                        <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" class="p-5">
                          <h5 class="timeline-title">Datos Recogida:</h5>
                        </div>
                        <div fxFlex.gt-sm="33" fxFlex.gt-xs="30" class="p-5" *ngIf="visita.tipo === 'RECOGIDA'">
                          <h5 class="timeline-title"><strong>{{visita.bidones}} Bidones</strong></h5>
                        </div>
                        <div fxFlex.gt-sm="33" fxFlex.gt-xs="30" class="p-5" *ngIf="visita.tipo === 'RECOGIDA'">
                          <h5 class="timeline-title"><strong>{{visita.kilos}} Kilos</strong></h5>
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" *ngIf="visita.tipo === 'RECOGIDA'">
                        <div fxFlex.gt-sm="33" fxFlex.gt-xs="50" class="p-5">
                          <h5 class="timeline-title">Datos Entrega:</h5>
                        </div>
                        <div fxFlex.gt-sm="66" fxFlex.gt-xs="30" class="p-5">
                          <h5 class="timeline-title"><strong>{{visita.entregado || 0}} €</strong></h5>                         
                        </div>
                      </div>
                      <div class="timeline-body" *ngIf="visita.notas">
                        <small>Notas:</small>
                        <p>{{visita.notas}}</p>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">   
                        <button mat-raised-button (click)="openDialog('Update', visita)" >Editar</button>
                        <button mat-raised-button color="warn" (click)="openDialog('Delete', visita)">Eliminar</button>
                      </div>
                    </div>
                    
                </div>
            </li>
        </ul>
    </mat-card-content>
  </mat-card>
</div>

