<div fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" class="align-items-center">
          <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex.gt-xl="25" fxFlex="100">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Ruta">
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="75" class="text-right">
            <button mat-raised-button (click)="planificar('Add',{})" color="primary">Planificar Ruta</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="center text-muted" *ngIf="rutas.length <= 0">
  <h1>No existen rutas</h1>
</div>
<div fxLayout="row wrap">

  <!-- column -->
  <div fxFlex.xl="20" fxFlex.lg="33"  fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100"  *ngFor="let ruta of rutas">
      <mat-card>
          <!-- Row -->
          <div class="ruta-header">

              <div class="header" [ngClass]="{'color-header-orange': ruta.estado == 0, 'color-header-blue': ruta.estado == 1, 'color-header-green': ruta.estado == 2, 'color-header-red': ruta.estado == 3, 'color-header-dark': ruta.estado == 4}">
                <div fxLayout="row" fxLayout="wrap">
                  <div fxFlex.gt-sm="15" fxFlex.gt-xs="15" class="p-10 b-r" >
                    <img [src]="ruta.img | imagen:'avatar'" width="50" class="avatar"/>
                  </div>
                  <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-10 b-r m-t-15">
                    <h3 class="font-medium  m-0">{{ ruta.nombre_usuario }}</h3>
                </div>
                <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-10 m-t-10">
                  <small class="font-small m-0">{{ ruta.estado | estadoRuta }}</small>
                </div>
                </div>
              </div>


              <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="p-10 b-r">
                      <h3 class="font-medium m-0">{{ ruta.fecha | date: 'mediumDate' }}</h3>
                      <span class="text-muted">Fecha</span>
                  </div>
                  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="p-10">
                    <h3 class="font-medium  m-0">{{ ruta.duracion | horasFromMinutes  }}</h3>
                    <span class="text-muted">Duración</span>
                  </div>
              </div>

              <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="p-10 b-r">
                  <h3 class="font-medium  m-0">{{ruta.nVisitas || 0}}</h3>
                  <span class="text-muted">Nº Visitas</span>
                </div>
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="p-10 ">
                  <h3 class="font-medium m-0">{{ ruta.kilometros || 0}} Km</h3>
                  <span class="text-muted">Distancia</span>
                </div>
              </div>

          </div>
          <mat-card-actions class="btn-action">
            <button mat-stroked-button color="primary" (click)="verDetalles(ruta)" [disabled]="ruta.estado === 0|| ruta.estado === 3">Ver Ruta</button>
            <button mat-stroked-button color="accent"  (click)="editarRuta(ruta)"  [disabled]="ruta.estado === 3|| ruta.estado === 4">Editar  </button>
            <button mat-stroked-button color="warn"    (click)="eliminarRuta(ruta)">Eliminar</button>
          </mat-card-actions>
      </mat-card>
  </div>
