

.center {
    text-align: center;
}

.color-header-green {
  background: #009688;
  color: #fff;
}

.color-header-orange {
  background: orange;
  color: #fff;
}

.color-header-red {
  background: red;
  color: #fff;
}

.color-header-blue {
  background: #322096;
  color: #fff;
}

.color-header-dark {
  background: #28264D;
  color: #fff;
}

.ruta-header {
  .header {

    text-align: center;


  }
  .ruta-content {
    display: flex;
    text-align: center;
    div {
      padding: 5px;
      h3 {
        margin-bottom: 0px;
      }
    }
  }
}

.btn-action {
  text-align: center;
  padding-bottom: 8px !important;
}

.avatar {
  border: 1px solid;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  overflow: hidden;
}

.cabecera {
  vertical-align: center;
}
