<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        DASHBOARD
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>

<div fxLayout="row wrap">

    <div fxFlex="50">
        <mat-card>
            <mat-card-header>
                Grafico Kilos X Restaurante
            </mat-card-header>
            <mat-card-content>
              <div class="loading-indicator row" *ngIf="isLoaing">
                <mat-spinner class="inner"></mat-spinner>
            </div>
            <!-- <app-kilosxrestaurante></app-kilosxrestaurante> -->
          </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="50">
        <mat-card>
            <mat-card-header>
                Grafico Restaurantes X Mes
            </mat-card-header>
            <mat-card-content>
              <div class="loading-indicator row" *ngIf="isLoaing">
                <mat-spinner class="inner"></mat-spinner>
            </div>
            <!--  <app-kilosxmes></app-kilosxmes>-->
          </mat-card-content>
        </mat-card>
    </div>
  </div>
