

<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-success">
            <mat-card-content>
                <!-- Row -->
                <div class="white"fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        DASHBOARD
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>

<!-- BOXES 4 -->
<div fxLayout="row wrap" >
    <div fxFlex="20" *ngFor="let kpi of kpis">
        <div class="loading-indicator row" *ngIf="isLoaing">
            <mat-spinner class="inner"></mat-spinner>
        </div>

        <app-box [titulo]="kpi.titulo" [subtitulo]="kpi.subtitulo" [valor]="kpi.valor"></app-box>
    </div>
</div>

<!-- GRAFICAS 2 -->
<div fxLayout="row wrap">

    <div fxFlex="50">
        <mat-card>
           
            <mat-card-content>
              <div class="loading-indicator row" *ngIf="isLoaing">
                <mat-spinner class="inner"></mat-spinner>
            </div>
            <app-kilosxrestaurante></app-kilosxrestaurante>
          </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="50">
        <mat-card>
            
            <mat-card-content>
              <div class="loading-indicator row" *ngIf="isLoaing">
                <mat-spinner class="inner"></mat-spinner>
            </div>
              <app-kilosxmes></app-kilosxmes>
          </mat-card-content>
        </mat-card>
    </div>
  </div>
