/* You can add global styles to this file, and also import other style files */


.version {
    
    position: absolute;
    width: 100%;
    bottom: 0;
 
}

.text-center {
    text-align: right;
    font-size: 0.75em;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-l-20 {
    margin-left: 20px;
}